<%- include('../header.ejs', {name: fruit.color + " " + fruit.name}) %>
    <h1>This is my individual fruit</h1>
    <img src=<%= fruit.image %> alt="Fruit image">
    <h2>Name: <%= fruit.name %></h2>
    <h2>Color: <%= fruit.color %></h2>
    <h2>Ready to eat? <%= fruit.readyToEat %></h2>
</body>
</html>