<%- include('../header.ejs') %>
    <h1>This is an index of my fruits</h1>
    <% for(let i = 0; i < fruits.length; i++) { %>
        <a href="/fruits/<%= i %>">
            <img src=<%= fruits[i].image %> alt="fruit picture">
            <h3>Name: <%= fruits[i].name %></h3>
        </a>
        <h3>Color: <%= fruits[i].color %></h3>
    <form action="/fruits/<%=i; %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
    <a href="/fruits/<%= i; %>/edit">Edit</a>
    <hr>
    <% } %>
</body>
</html>